/* Base Styles */


/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}*/
.form-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}
.form-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    border:1px dotted #005f8c;
}

form h2 {
    margin-bottom: 1.5rem;
    color: #005f8c;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #005f8c;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #00BFFF;
    border-radius: 5px;
    background-color: #D1F0FF;
    color: #333;
    font-size: 1rem;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #00BFFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #005f8c;
}
.back-link {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #005f8c;
    text-decoration: none;
    font-size: 1rem;
}

.back-link:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .form-container {
        padding: 1.5rem;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.9rem;
    }
    .back-link {
        font-size: 0.9rem;
    }
}
